<div class="scripts">
    <script>
        let page = "<%=page%>";

            let showingResults = "<%=showingResults%>";

    </script>
    <script src="/data/weather.js"></script>
    <script src="/javascript/speech.js"></script>
</div>