// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// * Google Fonts Importing
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --f-default: 'Josefin Sans', sans-serif;;
  }

// @font-face {
//     font-family: Visitor;
//     src: url("../fonts/visitor/visitor1.ttf");
// }

// * Reset Boxing
html {
    body {
        &,
        & * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
        }
    }
}

// * Test
html {
    body {
        &,
        * { 
            // border: dashed 1px red;
        }
    }
}

// * Fonts
html {
    body {
        &,
        & * {
            font-family: var(--f-default);
            text-transform: lowercase;
            color: white;
        }
    }
}

// @import "pages/login/login";
// @import "pages/register/register";

html body {
    // @import "partials/header";
    @import "partials/footer";
    @import "partials/decoratives";
    @import "pages/home/home";
    @import "pages/weather/weather";
    // @import "pages/add/add";

    // * All Sizes
    @media (min-width: 0px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        min-height: 100vh;
        position: relative;

        background-color: #1E1E1E;

        // background: linear-gradient(295.54deg, #0092FF -3.46%, rgba(0, 138, 255, 0) 128.9%);
        

        .main {
            flex-grow: 1;

            .button {
                background-color: #6C757D;
                padding: 10px 20px;
                border-radius: 20px;
            }
        }

        .scripts {
            position: absolute;
            display: none;
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {

    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {

    }

    // * Empty
    @media (min-width: 10000000px) {

    }
}