.main-weather {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 2;

        background: linear-gradient(286.23deg, #FF4D00 -3.2%, rgba(255, 0, 0, 0) 118.06%);

        .result {
            * {
                font-size: 40px;
            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {}

    // * Mid-tablet Sizez
    @media (min-width: 641px) and (max-width: 1000px) {}

    // * Empty
    @media (min-width: 10000000px) {}
}