<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("../partials/head"); -%>

<body>
    <%- include("../partials/header"); -%>

    <main class="main-home main">
        <div class="character">
            <img src="images/character.gif" alt="">
        </div>
        <div class="ui">
            <h1><span>The Angry</span><span>Weatherman</span></h1>
            <div class="services">
                <a href="">
                    <button type="button">
                        Ask about the weather
                    </button>
                </a>
                <a href="">
                    <button type="button">
                        Ask about upcoming holidays
                    </button>
                </a>
                <a href="">
                    <button type="button">
                        Ask about...animals??
                    </button>
                </a>
            </div>
        </div>
    </main>

    <%- include("../partials/footer"); -%>

    <%- include("../partials/scripts"); -%>
</body>

</html>