<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("../partials/head"); -%>

<body>
    <%- include("../partials/header"); -%>

    <main class="main-home main">
        <form action="/weather" action="POST">
            <div class="location-input">
                <label for="location">
                    <p>Enter a location</p>
                </label>
                <input id="location" type="text" name="location" placeholder="" value="" required>
            </div>
            <button class="button" type="submit">Submit</button>
        </form>
    </main>

    <div class="decoratives-cloud decoratives">
    </div>

    <%- include("../partials/footer"); -%>

    <%- include("../partials/scripts"); -%>
</body>

</html>