<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("../partials/head"); -%>

<body>
    <%- include("../partials/header"); -%>

    <main class="main-home main">
        <div class="speech-container">
            <div class="speech">
                <!-- <span class="speech-0">I'm Harold, </span>
                <span class="speech-0">the Angry Weatherman.</span>
                <span class="speech-0">The fuck you want from me?</span> -->
            </div>
        </div>
        <div class="character">
            <img src="images/character-and-background.gif" alt="">
        </div>
        <div class="ui">
            <!-- <h1><span>The Angry</span><span>Weatherman</span></h1> -->
            <div class="services">
                <a href="/weather">
                    <button class="button-custom"type="button">
                        Ask about the weather
                    </button>
                </a>
                <a href="/holidays">
                    <button class="button-custom"type="button">
                        Ask about upcoming holidays
                    </button>
                </a>
                <a href="/animals">
                    <button class="button-custom"type="button">
                        Ask about...animals??
                    </button>
                </a>
            </div>
        </div>
    </main>

    <%- include("../partials/footer"); -%>

    <%- include("../partials/scripts"); -%>
</body>

</html>