<!DOCTYPE html>
<html lang="en" dir="ltr">

<%- include("../partials/head"); -%>

<body>
    <%- include("../partials/header"); -%>

    <main class="main-weather main">
        <div class="result">
            <% if (result === "hot"){ %>
            <p>It's gonna be fucking hot</p>
            <% } else if (result ==="raining"){ %>
            <p>It's gonna fucking rain</p>
            <% } %>
            <a href="/">
                <button class="button" type="button">Back</button>
            </a>
        </div>
    </main>

    <div class="decoratives-cloud decoratives">
    </div>

    <div class="decoratives-hot decoratives">
    </div>

    <%- include("../partials/footer"); -%>

    <%- include("../partials/scripts"); -%>

    <script src="/javascript/generate-fire.js"></script>
</body>

</html>