.header {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #157c99;
        align-items: center;
        padding: 20px 50px;

        .logo {
            p {
                font-size: 24px;
            }
        }

        .nav {
            ul {
                display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

                li {
                    list-style-type: none;
                    a {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {

    }

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {

    }

    // * Empty
    @media (min-width: 10000000px) {

    }
}