.speech-container {
    &,
    * {
        // border: dashed 1px red;
    }

    // * All Sizes
    @media (min-width: 0px) {
        width: 200px;
        height: 200px;
        // background-color: red;
        position: relative;
        
        .speech {
            display:inline-block;
            overflow: auto;
            float:left;
            background-color: white;
            padding: 10px 20px;
            display: flex;
            flex-direction: column;
            // width: 100%;
            max-width: 500px;
            position: absolute;
            bottom: 170px;
            right: -300px;
            z-index: 1;

            span {
                float:left;
                color: black !important;
            }

            span.size-5 {
                display: inline-block;
                font-size: 50px;
                line-height: 35px;
            }

            span.size-4 {
                display: inline-block;
                font-size: 40px;
                line-height: 30px;
            }

            span.size-3 {
                display: inline-block;
                font-size: 30px;
                line-height: 25px;
            }

            span.size-2 {
                display: inline-block;
                font-size: 25px;
                line-height: 25px;
            }

            span.size-1 {
                display: inline-block;
                font-size: 20px;
                line-height: 25px;
            }

            span.size-0 {
                display: inline-block;
                font-size: 16px;
                line-height: 20px;
            }
        }

    }

    // * Mobile Sizes
    @media (min-width: 0px) and (max-width: 640px) {}

    // * Mid-tablet Size
    @media (min-width: 641px) and (max-width: 1000px) {}

    // * Empty
    @media (min-width: 10000000px) {}
}